<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Facetly_Find>
            <version>1.0.0</version>
        </Facetly_Find>
    </modules>
	<frontend>
        <routers>
            <find>
                <use>standard</use>
                <args>
                    <module>Facetly_Find</module>
                    <frontName>find</frontName>
                </args>
            </find>
        </routers>  
		<layout>
			<updates>
				<find>
					<file>facetly_find.xml</file>
				</find>
			</updates>
		</layout>		
    </frontend>
    <global>
        <models>
            <facetly_find>
                <class>Facetly_Find_Model</class>
            </facetly_find>
			<find>
				<class>Facetly_Find_Model</class>
				<resourceModel>find_resource</resourceModel>
			</find>
			<find_resource>
				<class>Facetly_Find_Model_Resource</class>
			</find_resource>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <facetly_find>
                        <class>facetly_find/observer</class>
                        <method>logUpdate</method>
                        <type>singleton</type>
                    </facetly_find>
                </observers>
            </catalog_product_save_after>
			<catalog_product_delete_after>
                <observers>
                    <facetly_find>
                        <class>facetly_find/observer</class>
                        <method>logDelete</method>
                        <type>singleton</type>
                    </facetly_find>
                </observers>
            </catalog_product_delete_after>
        </events>
		<helpers>
            <Facetly_Find>
                <class>Mage_Core_Helper</class>
            </Facetly_Find>
        </helpers>
    </global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <find before="Mage_Adminhtml">Facetly_Find_Adminhtml</find>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>